body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgreen;
  /* text-align: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu { text-align: center; background-color: darkblue; }
.logreact { display: inline-block; }
.lienmenu { padding: 12px;  border-radius: 5px;  }
a:link { text-decoration: none; }
a:visited { color: white;  }
.lienmenu:hover { background-color: white; text-decoration: none; }

.carteT { text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden; }
.carteP { height: 99px; overflow: hidden; text-overflow: ellipsis; }