body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.entete { background-color: black; color: white; height: 55px; text-align: left; }
.lienheader { margin: 11px; }
a:link { text-decoration: none; }
a:hover { background-color: white; text-decoration: none; }

.barlat { background-color: darkgray; height: 555px; }
.lienside { text-align: left; margin-top: 99px; }

.centre { background-color: darkgreen; color: white; text-align: left; }

.imagelogo { height: 55px; }
